#banner{   
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    > .banner-wrapper{
        background-color: rgb(156, 156, 158);
        width: 3666px;
        height: 3755px;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        position: relative;
        > .banner-content{
            display: block;
            width: 100vw;
            height: 635px;
            position: relative;
            > .banner-text{
                position: absolute;
                left: 0px;
                top: 0px;
                height: 100%;
                width: 100%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                strong{
                    font-weight: bold;
                }
                *{
                    text-align: center;
                    color: white;
                    font-size: 45px;
                    margin: 0;
                }
                h2 {
                    animation: fadeIn 1.7s ease;
                    opacity: 1;
                    transform: translateY(-140px);
                    max-width: 440px;
                    > *{
                        display: inline-block;
                    }
                    &::after{
                        content: "";
                        display: inline-block;
                        background: white;
                        height: 34px;
                        width: 3px;
                        transform: translateY(7px);
                        animation: blink 0.95s steps(2) infinite;
                    }
                }
            }
            .banner-backgroud-images{
                position: absolute;
                left: 0px;
                top: 0px;
                height: 100%;
                width: 100%;
                margin: 0;
                z-index: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                &::before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                > img{
                    display: block;
                    height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }   
}

@keyframes blink{
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-300px);
    }
}

@keyframes scaling{
    100%{
        transform: scale(1.2);
    }
}