/*Layout*/
.container{
    width: 1366px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
}

.row,
.column{
    display: flex;
    &.-justify-center{
        justify-content: center;
    }
    &.-align-center{
        align-items: center;
    }
    &.-justify-space-between{
        justify-content: space-between;
    }
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}