/*Buttons*/
.button{
    cursor: pointer;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 12px;
    background: transparent;
    height: 40px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 30px;
    font-weight: bold;
    transition: all 1.2s cubic-bezier(0.19,1,0.22,1);
    > span{
        position: relative;
        z-index: 2;
        color: white;
    }
    .icon{
        &:first-child{
            margin-right: 8px;
        }
        &:only-child{
            margin: 0;
        }
    }
    .download-icon-svg{
        height: 20px;
    }

    // SIZES
    &.-button-large{
        height: 66px;
        border-radius: 33px;
        font-size: 20px;
        padding: 27px 83px;
        letter-spacing: 4px;
    }
    &.-button-extra-large{
        height: 88px;
        border-radius: 44px;
    }
    &.-button-action{
        padding: 0;
        width: 40px;
        &.-button-extra-large .icon{
            font-size: 36px;
        }
        &.-button-extra-large{
            width: 88px;
        }
        &.-button-large{
            width: 66px;
        }
    }
    

    // STYLES
    &.-button-primary{
        &::before{
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            background-image: -moz-linear-gradient( 180deg, #05f2a1 0%, #00a6dd 100%);
            background-image: -webkit-linear-gradient( 180deg, #05f2a1 0%, #00a6dd 100%);
            background-image: -ms-linear-gradient( 180deg, #05f2a1 0%, #00a6dd 100%);
            opacity: 0;
            transition: all cubic-bezier(0.19,1,0.22,1) 1.2s;
        }
        &:hover{
            border: none;
        }
        &:hover::before{
            opacity: 1;
        }
        &.-button-bordered > span{
            color: #d7d8da;
        }
        color: white;
    }
    &.-button-dark-blue{
        background: #0c4a6e;
        .icon{
            color: white;
        }
        &:hover{
            background: white;
            color: #0c4a6e;
        }
    }
    &.-button-yellow{
        &::before{
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            background-image: -moz-linear-gradient( -180deg, rgb(255,200,10) 0%, rgb(255,220,5) 53%, rgb(255,240,0) 100%);
            background-image: -webkit-linear-gradient( -180deg, rgb(255,200,10) 0%, rgb(255,220,5) 53%, rgb(255,240,0) 100%);
            background-image: -ms-linear-gradient( -180deg, rgb(255,200,10) 0%, rgb(255,220,5) 53%, rgb(255,240,0) 100%);
            opacity: 0;
            transition: all cubic-bezier(0.19,1,0.22,1) 1.2s;
        }
        &:hover{
            border-color: transparent;
            &.-button-bordered{
                box-shadow: none;
                background: none;
                >span{
                    color: #aa8506;
                }
            }
        }
        &:hover::before{
            opacity: 1;
        }
        &.-button-bordered{
            border-color:#aa8506; 
        }

        color: #aa8506;
        *{
            color: #aa8506;
        }
    }
    &.-button-bordered{
        border: solid 1px #a2a2a4;
        &:hover{
            .icon,span{
                color: white;
                transition: all 1.2s cubic-bezier(0.19,1,0.22,1);
            }
            background: #00a6dd;
            border-color: transparent;
            box-shadow: 0px 18px 35px 0px rgba(0, 166, 221, 0.2);
        }
        .icon{
            color: #4d4d4d;
        }
    }

    &.-button-call{
        .download-icon-svg{
            transform: translateY(-1px);
            .download-arrow{
                transition: transform 0.5s ease;
            }
        }
        &:hover .download-icon-svg .download-arrow{
            transform: translateY(25%);
        }
    } 
}

// SMARTPHONE
@media(max-width: 810px){
    .button{
        &.-button-action.-button-extra-large{
            width: 64px;
            .icon{
                font-size: 28px;
            }
        }
        &.-button-extra-large{
            height: 64px;
        }
        &.-button-large{
            padding: 19px 54px;
            font-size: 18px;
        }
    }
}